.card {
  background: rgb(240, 81, 81);
  border-radius: 5px;
  border-width: 7px;
  height: 200px;
  margin: 2rem;
  position: relative;
  width: 200px;
  box-shadow: 6px #bc986a;
  cursor:pointer;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  background: #fbeec1;
}

.card img {
  width:180px;
  height:180px;
}

