.jumbotron {
  padding: 2rem;
  background-color:rgb(160, 36, 36);
  color: white;
}

.navbar-inner {
  width:100%;
  text-align: center;
  color: white;
}

.subtitle {
  font-weight: 500;
  line-height: 32px;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 0;
}
